{% extends "crypto/base.html" %}

{% block title %}
  <title>Crypto Currency Details</title>
{% endblock title %}


{% block body %}


<image src="{{Current_Crypto.image}}">

<table class="table table-dark table-striped" style="table-layout:fixed; border: 40px solid white;border-collapse: collapse;">

  <tr>
    <th>Name:</th>
    <td>{{Current_Crypto.name}}</td>
  </tr>
  <tr>
    <th>Year Established</th>
    <td>{{Current_Crypto.year_established}}</td>
  </tr>
  <tr>
    <th>Country</th>
    <td>{{Current_Crypto.country}}</td>
  </tr>
  <tr>
    <th>Description</th>
    {% if Current_Crypto.description%}
    <td>{{Current_Crypto.description}}</td>
    {% else %}
    <td> Not Available</td>
    {% endif %}
  </tr>
  <tr>
    <th>Official Website</th>
    <td><a href="{{Current_Crypto.url}}">Click Here</a></td>
  </tr>
  <tr>
    <th>Trust Score</th>
    <td>{{Current_Crypto.trust_score}}</td>
  </tr>
  <tr>
    <th>Trust Score Rank</th>
    <td>{{Current_Crypto.trust_score_rank}}</td>
  </tr>
  <tr>
    <th>Trade Volume (24 h) BTC</th>
    <td>{{Current_Crypto.trade_volume_24h_btc}}</td>
  </tr>
  <tr>
    <th>Trade Volume 24h BTC Normalised</th>
    <td>{{Current_Crypto.trade_volume_24h_btc_normalized}}</td>
  </tr>
  <tr>
    <th>Telephone:</th>
    <td>555 77 854</td>
  </tr>
</table>

{% endblock body %}